
:root{

    --denim:#275DAD;
    --french-gray:#CED3DC;
    --rose-quartz:#ABA9C3;
    --paynes-gray:#5B616A;
    --snow:#FCF7F8;
    --black:rgb(37,37,37);

    --primary:#2f4858;
    --secondary:#009d95;
    --tertiary:#22d36f;

}

.darkbg{
    background-color: rgb(37,37,37);

}
.bluebg{
    background-color: var(--denim);
}

.body{
    background-color: var(--snow);



}
 
 
/*NAVIGATION BAR */


.mobile-navigation-dropdown-toggler{

    background-color:var(--denim);
    color: var(--snow);


}

.mobile-navigation-dropdown-container{

    color: var(--snow);
}
.`navbar-toggler-icon
.desktop-navigation-bar{
    background-color: var(--black);
    position: fixed;
    width: auto;
}

.desktop-navigation-bar-item{
    background-color: var(--denim);
    color: var(--snow);
    font-weight: bold;
    text-align: center;

}
 

.desktop-navigation-bar-item:hover{
    color: var(--denim);
    background-color: var(--snow);
    font-weight: bolder;
    transform: scale(1.5);
    
}




.mobile-navigation-bar{
    background-color: var(--denim);
    width: 100%;
    height: auto;
}


.mobile-navigation-bar-item{
    background-color: var(--denim);
    color: var(--snow);
    font-weight: bold;
    text-align: center;
    font-size: larger;

}
 

.mobile-navigation-bar-item-active{
    color: var(--denim);
    background-color: var(--snow);
    font-weight: bolder;
    transform: scale(1.5);
    
}

.centerized{
    text-align: center;
}


.segment{


    border: 1px solid var(--paynes-gray);
    border-radius: 7px;
    margin: auto;
}


.segement-title{
    background-color: var(--primary);
    color: white;
    text-align: center;
}