 <style>
   
   .footer-button{
    background-color:var(--nav-hover-color) !important;
    text-decoration: none;
    color:black !important;
    font-size: clamp(1.8rem, 1.9vw, 3rem);
    margin: 6px;
   }
   .footer-button:hover{
    background-color: black;
    color: var(--nav-hover-color);
    font-weight: bolder;
   }
 </style>
 <div class="container">
   <div class="text-white alert font-biscuit-tin fw-bolder text-center fs-1"> - - - - NAVIGATION - - - - </div>


   <div class="container">
     <div class="row justify-content-center">
      <div class="row">
        
       
  
<button class=" col-12 alert footer-button">
  
<a href="services.html" class="">SERVICES</a>
</button>
<button class=" col-12 alert footer-button">
  
<a href="skillset.html" class="">SKILLS</a>
</button>
<button class=" col-12 alert footer-button">
  
<a href="contact.html" class="">CONTACT ME</a>
</button>
<button class=" col-12 alert footer-button">
  
<a href="paid_projects.html" class="">SAMPLE PROJECTS</a>
</button>
      </div>
     </div>
   </div>
 </div>