{%extends "./base.jinja"%}


{%block content %}

<style>
	
	.modal {
		background-color: var(--nav-hover-color);
	}
	 .modal-header, .modal-footer , .modal-body{
  background-color: var(--surface-color) !important;
}

.modal-body{
	color:var(--nav-hover-color);
}

.btn-close{
  color: var(--nav-hover-color) !important;
}

</style>

<div class="page-section" id="freelance-work-section">
	
	<div class="container">
	<h3 class="page-title text-center" > Some of my paid projects </h3>
</div>
<div class="container">
	<div class="row">
		
{% for project in paid_projects %}

	<div class="col-12 col-md-4 p-3 ">
		<div class="item-card "   type="button" data-bs-toggle="modal" data-bs-target="#{{ project.id }}_project_screenshots" >
			<div class="container p-0">
				<div class="row justify-content-center">
					
				<img class="img img-fluid" src="{{ project.banner }}">
				</div>
			</div>
			<div class="row">
				<div class="item-card-title p-1s">{{project.title }}</div>

			</div>
			<div class="container">
				<p class="item-card-description font-pixelify ">{{ project.short_description }}</p>
			</div>
		</div>
	</div>

 

<!-- Modal -->
<div class="canvas modal fade"  id="{{ project.id }}_project_screenshots"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog canvas">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title fw-bolder font-fear-robot page-title" id="exampleModalLabel">{{ project.title }} </h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	<div class="container  p-5">
      		<div class="row justify-content-center p-0">
      			<div class="text-center col-6 fw-bold font-pixelify fs-4 text-white" style="border-radius:20px 20px 0px 0px;background-color:#252525;">Technologies used</div>
      		</div>
      		<div class="row sub-section justify-content-center">

      			{% for technology in project.technologies_used %}
      				<div class="col-3 col-md-4 technology font-maria" style="background-color:#252525;"> {{ technology }}</div>
      			{% endfor %}
      		</div>
      	</div>
        <div class="container ">
        	<p> 
        		{{ project.short_description }}
        		<hr>
        		{{ project.long_description }} 
        	</p>
        </div>
        <div class="container">
        	
<div class="container p-2">
	<div class="row justify-content-center">
		
	<div class="row gy-3 gx-3">
		{%for image in project.screenshots %}

 
	 			
  <img src="{{image}}" class="img img-fluid col-12 col-mb-6" alt="Screenshot of {{project.title}}">
	 		 
		 
		{%endfor%}
	</div>
	</div>
</div>



        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endfor %}




	</div>
</div>




	
</div>

{%endblock%}