{% extends "./base.jinja" %}
<style>
	
	.grid-post{
  border: 2px solid var(--nav-hover-color);
  background-color:blue !important;

	}
</style>
{% block content %}

	    <div class="posts-grid">
          <div class="row gy-4">
      

 

            <div class="col-md-6 p-4" data-aos="fade-up" data-aos-delay="400">
              <article class="grid-post">
                <div class="post-img">
                  <img src="assets/img/blog/blog-post-10.webp" alt="" class="img-fluid" loading="lazy">
                  <div class="post-overlay">
                    <span class="category-tag">Finance</span>
                  </div>
                </div>
               
              </article>
            </div>

        
          </div>
        </div>

{% endblock %}