{% extends "./base.jinja" %}
{% block content %}
<style>
	table{
		border-radius: 20px !important;
		background-color:var(--nav-hover-color)!important;
		color: black !important;

	}
	td{
		 color:var(--nav-hover-color)!important;
		background-color: black !important;

	}
	tr{
		border:0px solid ;
		border-bottom:2px solid var(--nav-hover-color);
	}

	/* Top-left and top-right corners */
table tr:first-child td:first-child {
  border-top-left-radius: 12px;
}

table tr:first-child td:last-child {
  border-top-right-radius: 12px;
}

/* Bottom-left and bottom-right corners */
table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

	.grid-post{
  background-color:var(--nav-hover-color);
  color:#343232;
  padding: 10px;
  border-radius: 20px;
	}

	.grid-post h2{
		color:#343232 !important;
	}

	.grid-post h3 , h4 , h5{
		color: #0c0e2f !important;
	}
</style>

	<div class="text-center container p-3 fs-1 font-biscuit-tin">
	 SERVICES I OFFER :
	</div>
 
	    <div class="posts-grid">
          <div class="row gy-4">
      

 

            <div class="col-md-6 p-4" data-aos="fade-up" data-aos-delay="400">
              <article class="grid-post"  >
               
               <h2 class="font-biscuit-tin text-center fs-1">WEBSITES</h2>
               <h4 class="font-maria">Full stack web development using Django/Python and other technologies</h4>
               


    <table class="table table-striped table-hover align-middle mb-0">
      <tbody>

      	{% for  service in services.website_development  %}
        <tr class="font-maria">
          <td>{{service.title}}</td>
          <td>{{service.description}}</td>
          <td>{{service.duration}}</td>
          <td>{{service.price}}</td>
        </tr>

{% endfor %}
        

        
         

         
      </tbody>
    </table>

              </article>
            </div>

        



                  <div class="col-md-6 p-4" data-aos="fade-up" data-aos-delay="400">
              <article class="grid-post"  >
               
               <h2 class="font-biscuit-tin text-center fs-1">APPS</h2>
               <h4 class="font-maria">I develop practical and user-friendly applications using Python. Whether you need a desktop tool,   data management app, or custom business solution, Simply reliable applications tailored to your specific needs.</h4>
               


    <table class="table table-striped table-hover align-middle mb-0">
      <tbody>

      	{% for  service in services.app_development  %}
        <tr class="font-maria">
          <td>{{service.title}}</td>
          <td>{{service.description}}</td>
          <td>{{service.price}}</td>
        </tr>

{% endfor %}
        

        
         

         
      </tbody>
    </table>

              </article>
            </div>



                  <div class="col-md-6 p-4" data-aos="fade-up" data-aos-delay="400">
              <article class="grid-post"  >
               
               <h2 class="font-biscuit-tin text-center fs-1">GRAPHICS</h2>
               <h4 class="font-maria">I create eye-catching graphics such as banners, brochures, flyers, social media posts, and promotional materials. I focus on clean designs, strong visual layouts, and branding that helps your business communicate effectively and stand out.</h4>
               

               <h2 class="text-center t "> From 10$</h2>
    

              </article>
            </div>


                  <div class="col-md-6 p-4" data-aos="fade-up" data-aos-delay="400">
              <article class="grid-post"  >
               
               <h2 class="font-biscuit-tin text-center fs-1">DEBUGGING</h2>
               <h4 class="font-maria">For an agreed upon price, I can identify and resolve issues efficiently to ensure reliable, high-performing applications. This includes finding bugs, improving functionality, validating user interactions, and checking compatibility across devices and browsers. /h4>

                <h4>
                  I also fix or improve AI generated code [Python, Js, Ts and CSS ] 
                </h4>
               

               <h2 class="text-center t "> From 1$</h2>
    

              </article>
            </div>
          </div>
        </div>

{% endblock %}