	<br>
	<hr>
<footer>
	

	<div class="container alert">
		<div class="row justify-content-center fs-6">
			 <i class="fas fa-person-digging"></i>.......Site under construction :)
		</div>
	</div>
</footer>