

 <nav class="p-0 navigation-bar desktop-navigation-bar d-none d-lg-block d-sm-none d-md-block ">
    <div class="row p-0">
        <div class="row p-0">
            <div class="col-3 logo-container">
                <div class="row">
                    <img src="./content/media/images/victhepythonista.gif" class="logo-image">
                </div>
             </div>
            <div class="col-9"> 

                <div class="container">
                    
                <div class="row">
                    <div class="col-3 desktop-navigation-bar-button section-selector" data-section="profile"><i class="fas fa-id-badge"></i>PROFILE</div>
                  
                    
                    <div class="col-3 desktop-navigation-bar-button section-selector" data-section="projects"><i class="fas fa-person"></i>PROJECTS</div>
                    <div class="col-3 desktop-navigation-bar-button section-selector" data-section="freelance-work"><i class="fas fa-person"></i>FREELANCE WORK</div>
                    
                    <div class="col-3 desktop-navigation-bar-button section-selector" data-section="bugs"><i class="fas fa-bugs"></i>BUGS</div>


                </div>
                </div>
            </div>
    
    </div>
    </div>
    </nav>

 