

 <nav class="p-0 navigation-bar mobile-navigation-bar container d-block d-sm-none">
    <div class="container p-0">
        <div class="row justify-content-center p-0">
            
    <div class="row p-0 ">
      
        <div class=" col-9 logo-container">
            <div class="row justify-content-center">
                
  <div class="row">
                    <img src="./content/media/images/victhepythonista.gif" class="logo-image">
                </div>
            </div>
            
        </div>
        <div class=" col-3 fs-1">
            <div class="row justify-content-end "  data-bs-toggle="offcanvas" data-bs-target="#right-sidebar" aria-controls="right-sidebar">
                
            <i class="fas fa-bars"></i>&nbsp;
            </div>
            
        </div>
        </div>
    </div>
    </div>
    </nav>



 
<div class="offcanvas offcanvas-end right-sidebar p-0" tabindex="-1" id="right-sidebar" aria-labelledby="right-sidebar-label">
  <div class="offcanvas-header p-0">
    <h2 class="sidebar-heading col-12" id='right-sidebar-label' >MENU</h2>
  </div>
  <div class="offcanvas-body p-0">
    <div class="container">
        

        <div  class="row justify-content-center">
            
<div class="sidebar-button col-9 section-selector" data-section="profile"><i class="fas fa-id-badge " > </i> PROFILE</div>

 
<div class="sidebar-button col-9 section-selector" data-section="projects"><i class="fas fa-laptop-code " > </i> PROJECTS</div>
<div class="sidebar-button col-9 section-selector" data-section="freelance-work"><i class="fas fa-person-digging" > </i> FREELANCE WORK</div>
 

<div class="sidebar-button col-9 section-selector" data-section="bugs"><i class="fas fa-bugs " > </i> BUGS</div>

        </div>
    </div>
 
  </div>
</div>
 